body {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    font-family: 'Gotham';
    font-size: 1rem;
    font-weight: 400;
}

h1,h2 {
    font-weight: 400;
}